.formulario {
  max-width: 600px;
  margin: 5px auto;
  padding: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.formulario h2 {
  font-size: 2rem;
  color: #33404d;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.formulario label {
  font-size: 16px;
  margin-top: 15px;
  display: block;
  text-align: left;
}

.formulario input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.formulario button {
  background-color: #28a745;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.formulario button:hover {
  background-color: #218838;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  font-size: 18px;
}

.checkboxItem input {
  width: auto;
  margin: 0;
}

.checkboxItem label {
  cursor: pointer;
  text-align: left;
  width: 100%;
}

