.nav {
  background-color: #333;
  padding: 15px 0;
  width: 60%;
  margin-left: 20%;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: white;
  font-weight: 600;
}
